
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dutch traffic accidents visualization tool</title>

    <!--//all files for pointmap-->
    <script src="http://d3js.org/d3.v2.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <!--import css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>



    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--voor de slider-->


    <!-- Bar Chart -->
    <script src="../static/js/ShowBarChart.js"></script>

    <style>
        .axisHorizontal path{
            fill: none;
        }

        .axisHorizontal .tick line {
            stroke-width: 1;
            stroke: rgba(0, 0, 0, 0.2);
        }
    </style>


</head>
<body>

<div id="about" class="container-fluid table-bordered bg-grey ">
    <div class="col-md-12 text-center" style="border-bottom-style: solid; border-bottom-width: 5px;"><h1>
        <font family="Avenir LT W01 85 Heavy, Verdana, Arial, Helvetica, sans-serif" color="black">Dutch Traffic Accidents</font></h1></div>
    <div class="row">
        <div class="col-sm-6 text-center table-bordered ">

            <div id='map' style="min-height: 700px"></div>


        </div>


        <div id="plot"></div>

        <div class="col-md-6 ">
            <font family="Verdana, Arial, Helvetica, sans-serif" color="black">
                <div id="container"></div>

                <button id="perProvince">Accidents per province</button>
                <button id="perCapita">Accidents per capita</button>
                </font>

            <div id="demoQ">
                <br/><br/><strong> This visualization shows the traffic accidents in the 12 provinces of the Netherlands</strong> <br/>
                <ul>
                    <li>In the map on left the accidents per capita are depicted. Hovering over the provinces shows the exact # accidents and accidents per capita on the top right of the map.</li>
                    <li>In the barchart the accidents per capita are depicted in descending order to help you find the most dangerous province. By using the buttons underneath you can change the the unit to # accidents per province.</li>
                    <li>It is possible to filter on the year, weather conditions and time</li>
                    <li>Click on a province to see the accidents in a province </li>
                        <ul>
                            <li>On the top right there is an option to find the most dangerous locations</li>
                            <li>Cluster the accidents by selecting the meters</li>
                        </ul>
                </ul>


        </div>

    </div>
</div>

<!--import javascript -->
<script type="text/javascript" src="{{ url_for('static', filename='leaflet/netherlands.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='showmap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='data_handler.js') }}"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

</body>
</html>