<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dutch traffic accidents visualization tool</title>

    <script src="http://d3js.org/d3.v2.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>

    <!--import css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <!--import javascript -->
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="../static/js/bootstrap-slider.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap-slider.css"/>

    <script src="../static/leaflet/CreateMap.js"></script>

    <!--checkmarks -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="../static/leaflet/FilterManager.js"></script>

</head>
<body>
<br>
<div class="container-fluid">
<div class="row content">

    <div class="col-md-5 text-center">


        <div id='map'></div>

        <!--slider for years -->
        <input type="range" value=2009 min=2003 max=2015 id="slider" >

        <!--shows what year is selected -->
        <div id="selectedYear"></div>

        <!--shows data for the time being-->
        <!-- <div id="info"></div>-->

        <!--shows a plot, we migth not use this div at all. -->
        <div id="plot"></div>

        <!--import javascript -->
        <script type="text/javascript" src="{{ url_for('static', filename='leaflet/netherlands.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='showmap.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='data_handler.js') }}"></script>

    </div>

    <div class="col-md-5 ">
        <div class="col-sm-3"> <div id="Province1"></div></div>
        <div class="col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    <div id="Province1Percentage"></div> %
                </div>
            </div>
        </div>
        <div class="col-sm-3"> <div id="Province2"></div></div>
        <div class="col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    <div id="Province2Percentage"></div> %
                </div>
            </div>
        </div>
        <div class="col-sm-3"> <div id="Province3"></div></div>
        <div class="col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    <div id="Province3Percentage"></div> %
                </div>
            </div>
        </div>
        <div class="col-sm-3"> <div id="Province4"></div></div>
        <div class="col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    <div id="Province4Percentage"></div> %
                </div>
            </div>
        </div>
        <div class="col-sm-3"> <div id="Province5"></div></div>
        <div class="col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    <div id="Province5Percentage"></div> %
                </div>
            </div>
        </div>
        <div class="col-sm-3"> <div id="Province6"></div></div>
        <div class="col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    <div id="Province6Percentage"></div> %
                </div>
            </div>
        </div>
        <div class="col-sm-3"> <div id="Province7"></div></div>
        <div class="col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    <div id="Province7Percentage"></div> %
                </div>
            </div>
        </div>
        <div class="col-sm-3"> <div id="Province8"></div></div>
        <div class="col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    <div id="Province8Percentage"></div> %
                </div>
            </div>
        </div>
        <div class="col-sm-3"> <div id="Province9"></div></div>
        <div class="col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    <div id="Province9Percentage"></div> %
                </div>
            </div>
        </div>
        <div class="col-sm-3"> <div id="Province10"></div></div>
        <div class="col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    <div id="Province10Percentage"></div> %
                </div>
            </div>
        </div>
        <div class="col-sm-3"> <div id="Province11"></div></div>
        <div class="col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    <div id="Province11Percentage"></div> %
                </div>
            </div>
        </div><div class="col-sm-3"> <div id="Province12"></div></div>
        <div class="col-sm-9">
            <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                    <div id="Province12Percentage"></div> %
                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-md-12"><p><strong>Filters</strong> </p></div>
        <div class="col-md-3">

        <p>Gender</p>
        <label  id="male" class="checkbox-inline "><input type="checkbox" value="">Male</label>
        <label id="female" class="checkbox-inline"><input type="checkbox" value="">Female</label>
        </div>
        <div class="col-md-3">
        <p>Age</p>
        <label id="age1" class="checkbox-inline"><input type="checkbox" value=""><18</label>
        <label id="age2" class="checkbox-inline"><input type="checkbox" value="">18-30</label>
        <label id="age3" class="checkbox-inline"><input type="checkbox" value="">30-50</label>
        <label id="age4" class="checkbox-inline"><input type="checkbox" value="">50+</label>
        </div>
        <div class="col-md-3">
        <p>Weather Conditions</p>
        <label id="storm" class="checkbox-inline"><input type="checkbox" value="">Storm</label>
        <label id="rain" class="checkbox-inline"><input type="checkbox" value="">Rain</label>
        <label id="fog" class="checkbox-inline"><input type="checkbox" value="">Fog</label>
        <label id="snow" class="checkbox-inline"><input type="checkbox" value="">Snow</label>
        <label id="sunny" class="checkbox-inline"><input type="checkbox" value="">Sunny</label>
    </div>
    <br>
    <br>

<script>

</script>
    <!--
    Year: <b>2006 </b> <input id="year" type="text" class="span5" value="" data-slider-min="2006" data-slider-max="2017" data-slider-step="1" data-slider-value="[2006,2017]"/> <b> 2017</b>
    <br>
    <br>

    Day 00:00: <b>0</b> <input id="day" type="text" class="span5" value="" data-slider-min="0" data-slider-max="24" data-slider-step="1" data-slider-value="[0,24]"/> <b> Night 24:00</b>
    <br>
    <br>

    <br>
    <br>
    -->

    <br>
    <br>
    <script>
        //map setup
        // CreateMap("mapid", 52.3702, 4.8952, 13);
        // CreateRandomPoints(20, 52, 53, 4, 5, 1000, "red");

        //slider values
     //   $("#year").slider({});
     //   $("#day").slider({});

    </script>
</div>


</body>
</html>
